{% extends "base.html" %}
{% block content %}

<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h6>
            <h1>Servicios de Transporte y Viajes</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Guía de Viajes</h5>
                    <p class="m-0">Obtén recomendaciones y rutas personalizadas para tu próxima aventura.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Reserva de Boletos</h5>
                    <p class="m-0">Adquiere tus boletos fácilmente con nuestro sistema rápido y confiable.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Reservación de Hoteles</h5>
                    <p class="m-0">Encuentra los mejores hoteles para disfrutar de tu viaje con comodidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->



<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonios</h6>
            <h1>Lo Que Dicen Nuestros Clientes</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="../static/img/testimonial-1.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">El viaje fue increíble y el servicio superó mis expectativas. ¡Lo recomiendo!</p>
                    <h5 class="text-truncate">Juan Pérez</h5>
                    <span>Empresario</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../static/img/testimonial-2.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Un servicio excepcional, cómodo y puntual. Sin duda volveré a elegirlos.</p>
                    <h5 class="text-truncate">María López</h5>
                    <span>Turista</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../static/img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">La experiencia fue fantástica, muy buen servicio y atención al cliente.</p>
                    <h5 class="text-truncate">Carlos Martínez</h5>
                    <span>Estudiante</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../static/img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Todo estuvo perfecto, desde la reservación hasta el servicio en general.</p>
                    <h5 class="text-truncate">Ana Rodríguez</h5>
                    <span>Profesional</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../static/mail/jqBootstrapValidation.min.js"></script>
    <script src="../static/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
</body>
{% endblock %}

</html>