<div class="container-fluid position-relative nav-bar p-0">
    <div class="container position-relative">
        <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TICKET</span>MOSTWANTED</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar-circle mr-2">
                                <span class="avatar-initials">{{ usuario.nombre }} {{ usuario.apellido }}</span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ url_for('router.perfil') }}">
                                <i class="fas fa-user-circle mr-2"></i>Mi Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('router.cerrar_sesion') }}">
                                <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>